Cold_Mailing.json
{
  "name": "Cold Mailing",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        100
      ],
      "id": "26279898-0db1-48e6-a1e7-7490e85927a7",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appQ5QAPg3YP3laMB",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appQ5QAPg3YP3laMB"
        },
        "table": {
          "__rl": true,
          "value": "tbl14xeFbMZuie4qO",
          "mode": "list",
          "cachedResultName": "Customer Records",
          "cachedResultUrl": "https://airtable.com/appQ5QAPg3YP3laMB/tbl14xeFbMZuie4qO"
        },
        "filterByFormula": "{status} = 'Pending'",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        220,
        100
      ],
      "id": "00622250-2fba-4dbc-9b02-748f18c9972f",
      "name": "Airtable1",
      "credentials": {
        "airtableTokenApi": {
          "id": "VVqSecErCTMnzYoZ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please write an email for the person with following details-\n\nCompany Name -  {{ $json.company_cleaned }}\nPerson's First Name - {{ $json.firstname_cleaned }}\nPerson's Last Name - {{ $json.lastname_cleaned }}\nPerson's Working Industry - {{ $json.industry }}\nPerson lives in {{ $json.location }}\nPerson is having job title {{ $json.job }} in the company.\nCompany website is {{ $json.company_website }}\nCompany's industry is {{ $json.company_industry }}\nCompany's Location is {{ $json.company_location }}\nCurrent Company employee count is {{ $json.company_employee_count }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "you are asked to create an cold email to a professional, the email should feel personal and hand written by a human. No AI detectable word should be used. Keep human touch in emails. Keep the starting 70% of the email related to the person to make them excited and read more and in rest 30% be subtle to promote to use our product. make it crisp, shorter, easy to understand and interesting.\n\nservice we provide is AI custom solutions. when you talk about our services be specific on what can be improved in their existing systems to excite them more. Make the email specifically targeting to their designation. Only talk about how it can improve process.\n\ndo not assume things, only talk about whatever the information is available. Make sure to only include information which is relevant for the email, not all information has to be in the email.\n\nformatting tips\n- just give the email body, do not give any subject or any other irrelevant explanation with response.\n- Email system cannot render styling, so keep simple text, no bold, or any other styling.\n- Do not leave any placeholders, all the values should be filled in"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        440,
        0
      ],
      "id": "c22f660b-8f6d-4656-8a4e-a28ce2687717",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-r1:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        528,
        220
      ],
      "id": "91f91bc9-8146-46c4-abc9-5db7b6a0948c",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "KDCaXFkFWD4mKsO1",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        460
      ],
      "id": "e30e1666-e748-4257-a7e2-4171f82791eb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fromEmail": "postmaster@example.com",
        "toEmail": "={{ $json.fields.Email }}",
        "subject": "={{ $json.fields.email_subject }}",
        "emailFormat": "text",
        "text": "={{ $json.fields.email_copy }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        660,
        460
      ],
      "id": "17e423f5-63f7-4c4c-b490-29cb477d688b",
      "name": "Send Email",
      "webhookId": "2b4fd971-7ea3-4dab-9504-581e26b0ec44",
      "credentials": {
        "smtp": {
          "id": "tjpUMX2Hw7xaBngN",
          "name": "Mail Gun SMTP"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appQ5QAPg3YP3laMB",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appQ5QAPg3YP3laMB"
        },
        "table": {
          "__rl": true,
          "value": "tbl14xeFbMZuie4qO",
          "mode": "list",
          "cachedResultName": "Customer Records",
          "cachedResultUrl": "https://airtable.com/appQ5QAPg3YP3laMB/tbl14xeFbMZuie4qO"
        },
        "filterByFormula": "{status} = 'Approved'",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        220,
        460
      ],
      "id": "bd8e6193-a456-4c99-ac56-7055ae587102",
      "name": "Get Approved Message",
      "credentials": {
        "airtableTokenApi": {
          "id": "VVqSecErCTMnzYoZ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appQ5QAPg3YP3laMB",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appQ5QAPg3YP3laMB"
        },
        "table": {
          "__rl": true,
          "value": "tbl14xeFbMZuie4qO",
          "mode": "list",
          "cachedResultName": "Customer Records",
          "cachedResultUrl": "https://airtable.com/appQ5QAPg3YP3laMB/tbl14xeFbMZuie4qO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "status": "Sending",
            "company_employee_count": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "company_cleaned",
              "displayName": "company_cleaned",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "pending",
                  "value": "pending"
                },
                {
                  "name": "Approval Pending",
                  "value": "Approval Pending"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Sending",
                  "value": "Sending"
                },
                {
                  "name": "Sent",
                  "value": "Sent"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "firstname_cleaned",
              "displayName": "firstname_cleaned",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastname_cleaned",
              "displayName": "lastname_cleaned",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "job",
              "displayName": "job",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mobile no.",
              "displayName": "Mobile no.",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_website",
              "displayName": "company_website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_industry",
              "displayName": "company_industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_location",
              "displayName": "company_location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_employee_count",
              "displayName": "company_employee_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_linkedin",
              "displayName": "company_linkedin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "salesnavigator_url",
              "displayName": "salesnavigator_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "linkedin_profile_url",
              "displayName": "linkedin_profile_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email_copy",
              "displayName": "email_copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        440,
        460
      ],
      "id": "98f25e08-d6b9-41d7-8baf-a48da75c2985",
      "name": "Sending Status Change",
      "credentials": {
        "airtableTokenApi": {
          "id": "VVqSecErCTMnzYoZ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appQ5QAPg3YP3laMB",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appQ5QAPg3YP3laMB"
        },
        "table": {
          "__rl": true,
          "value": "tbl14xeFbMZuie4qO",
          "mode": "list",
          "cachedResultName": "Customer Records",
          "cachedResultUrl": "https://airtable.com/appQ5QAPg3YP3laMB/tbl14xeFbMZuie4qO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Get Approved Message').item.json.id }}",
            "status": "Sent",
            "company_employee_count": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "company_cleaned",
              "displayName": "company_cleaned",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "pending",
                  "value": "pending"
                },
                {
                  "name": "Approval Pending",
                  "value": "Approval Pending"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Sending",
                  "value": "Sending"
                },
                {
                  "name": "Sent",
                  "value": "Sent"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "firstname_cleaned",
              "displayName": "firstname_cleaned",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastname_cleaned",
              "displayName": "lastname_cleaned",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "job",
              "displayName": "job",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mobile no.",
              "displayName": "Mobile no.",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_website",
              "displayName": "company_website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_industry",
              "displayName": "company_industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_location",
              "displayName": "company_location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_employee_count",
              "displayName": "company_employee_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_linkedin",
              "displayName": "company_linkedin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "salesnavigator_url",
              "displayName": "salesnavigator_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "linkedin_profile_url",
              "displayName": "linkedin_profile_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email_copy",
              "displayName": "email_copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        880,
        460
      ],
      "id": "3a09da68-8acd-47ca-bac8-537827e76444",
      "name": "Email Sent Status Change",
      "credentials": {
        "airtableTokenApi": {
          "id": "VVqSecErCTMnzYoZ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=please write a catchy, subtle, professional, eye catching, subject line for provided email body. \n- should be in plain text, no formating or styling\n- should have no emojis\nSubject line should have maximum 50 characters\n- subject line should not look sales like.\n\nresponse structure\n- must be only the subject line\n- there should be no other text other than subject line\n\nbody -\n {{ $json.output }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        816,
        0
      ],
      "id": "c801c12d-01ee-4b51-8f33-da5cc77638ea",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-r1:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        904,
        220
      ],
      "id": "381c5d66-f5b9-4c11-9ccc-431d86f8e940",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "KDCaXFkFWD4mKsO1",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appQ5QAPg3YP3laMB",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appQ5QAPg3YP3laMB"
        },
        "table": {
          "__rl": true,
          "value": "tbl14xeFbMZuie4qO",
          "mode": "list",
          "cachedResultName": "Customer Records",
          "cachedResultUrl": "https://airtable.com/appQ5QAPg3YP3laMB/tbl14xeFbMZuie4qO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company_employee_count": 0,
            "email_subject": "={{ $json.text }}",
            "email_copy": "={{ $('AI Agent').item.json.output }}",
            "status": "Approval Pending",
            "id": "={{ $('Airtable1').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "company_cleaned",
              "displayName": "company_cleaned",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Approval Pending",
                  "value": "Approval Pending"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Sending",
                  "value": "Sending"
                },
                {
                  "name": "Sent",
                  "value": "Sent"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "firstname_cleaned",
              "displayName": "firstname_cleaned",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastname_cleaned",
              "displayName": "lastname_cleaned",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "job",
              "displayName": "job",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mobile no.",
              "displayName": "Mobile no.",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_website",
              "displayName": "company_website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_industry",
              "displayName": "company_industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_location",
              "displayName": "company_location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_employee_count",
              "displayName": "company_employee_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_linkedin",
              "displayName": "company_linkedin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "salesnavigator_url",
              "displayName": "salesnavigator_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "linkedin_profile_url",
              "displayName": "linkedin_profile_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email_copy",
              "displayName": "email_copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email_subject",
              "displayName": "email_subject",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1192,
        100
      ],
      "id": "0813ff20-bbda-4c65-ae21-ce4617fc60c8",
      "name": "Airtable2",
      "credentials": {
        "airtableTokenApi": {
          "id": "VVqSecErCTMnzYoZ",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Approved Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Email Sent Status Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Approved Message": {
      "main": [
        [
          {
            "node": "Sending Status Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sending Status Change": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Airtable2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable2": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fddabf0f-9c0b-4080-bda0-c27cfa28a734",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c3507e77e4379f59057306ad7bb9be218363efd8788e56d1d029f4cf772961f8"
  },
  "id": "sV3jSx0H8FEyHIGp",
  "tags": []
}
